<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/HK.ico">

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/fonts.css' />
    <link rel='stylesheet' href='/stylesheets/loader.css' />
    <link rel='stylesheet' href='/stylesheets/navigation.css' />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/loader.js"></script>
    <script src="/javascripts/menuToggle.js"></script>
  </head>
  <body>

  <!--Preloader -->
  <div class="loader-wrapper">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
  </div>
  <!--Preloader -->

  <!--Content-->
  <div class="content-container">

    <!--Navigation-->
    <nav class="navbar navbar-custom navbar-fixed-left">

      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="#">
              <span class="menu-text">HOME</span>
              <span class="sub-text">A bit of everything</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="menu-text">WHO AM I?</span>
              <span class="sub-text">Me trying to describe myself</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="menu-text">PROJECTS</span>
              <span class="sub-text">A bit of work</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="menu-text">CONTACT ME</span>
              <span class="sub-text">Get in touch</span>
            </a>
          </li>
        </ul>
      </div>

      <a href="#" class="navbar-brand">
        <img src="/images/HK.png" width="50" height="53" alt="LOGO">
      </a>

      <div class="menu-button">
        <span></span>
      </div>

      <div class="social-container">
        <ul>
          <li>
            <a href="#">
              <img src="/images/GitHub.png" width="25" height="25" alt="Github">
            </a>
          </li>
          <li>
            <a href="#">
              <img src="/images/linkedin.png" width="25" height="25" alt="Linkedin">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!--Navigation-->

  </div>
  <!--Content-->

  </body>
</html>
