#contact {
    height: 60vh;
    overflow: hidden;
    padding-right: 0px;
    background: #000000;
    box-shadow: inset 0px 1px 2px #ffffff;
}
#contact .vertical-line {
    position: absolute;
    border-left: 1px solid #ffffff;
    height: 60vh;
    display: block;
    opacity: 0.3;
    box-shadow: 1px 0px 2px #ffffff;
}
#contact .vertical-line.l1 {
    left: 10vw;
}
#contact .vertical-line.l2 {
    left: 25vw;
}
#contact .vertical-line.l3 {
    left: 40vw;
}
#contact .vertical-line.l4 {
    left: 55vw;
}
#contact .vertical-line.l5 {
    left: 70vw;
}
#contact .vertical-line.l6 {
    left: 85vw;
}

#contact h3{
    color: #ffffff;
    font-family: 'Black Ops One', cursive;
    text-shadow: 0px 1px 2px #ffffff;
    font-size: 3rem;
    margin-top: 4rem;
}
#contact p {
    font-size: 20px;
    color: #6A6B6F;
    opacity: 0.8;
    display: block;
    margin-bottom: 2rem;
    text-shadow: 0px 1px 2px #6A6B6F;
    font-family: 'Russo One', sans-serif;
}
#contact button {
    background: #15a8f4;
    border-radius: 40px;
    color: #ffffff;
    box-shadow: 0px 1px 1px #15a8f4;
    text-shadow: 1px 1px #ffffff;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.1em;
}
#contact button:hover {
    background: rgba(21,168,244,0.8);
}
#contact .footer {
    font-size: 20px;
    color: #ffffff;
    opacity: 0.8;
    display: block;
    margin-top: 6rem;
    text-shadow: 0px 1px 2px #6A6B6F;
    font-family: 'Russo One', sans-serif;
}